.nav-color {
  background-color: #16697a;
}
.h1-nav {
  color: white;
  font-family: "Amatic SC", cursive;
  font-size: 26px;
}

.navbar {
  display: flex;
  justify-content: space-between;
}

.add {
  padding: 5px;
  color: rgb(205, 91, 38);
}
