.card {
  border: 1px solid rgb(205, 91, 38);
  margin: 25px;
  padding: 15px;
  display: flex;
  flex-direction: column;
}

.distr-card {
  flex: 1;

}

.name {
  font-weight: bold;
  text-align: center;
  color: rgb(30, 77, 92);
}

.price {
  text-align: right;
  color: rgb(205, 91, 38);
  font-weight: bold;
}

.others {
  
}

.text {
  margin-left: 10px;
  color: rgb(105, 104, 104);
  justify-content: space-between;
  display: flex;
  flex-direction: column;
  font-size: 14px;
}

.bold-text {
  font-weight: bold;
  color: rgb(30, 77, 92);
}

.card-content{
  display: flex;

}

@media screen and (min-width: 768px) {
  .card img {
    height: 175px;
    
  }
  .text {
    flex: 2;
    font-size: 16px;
  }

  .distr-card {
    display:flex;
    justify-content: center;
  }
}